
.front{
    width:100%;
    height:50vh;
    background-image:url("https://tse4.mm.bing.net/th?id=OIP.11XI3row9ek0X_zZsxRRiwHaFI&pid=Api");
    background-color:#024164;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
        
}
.mb-3{
        color: white;
        font-size:4vh;
        margin-bottom: 1vh;
        font-weight:700;
        font-family: 'Work Sans', sans-serif;
        
}


.mask .btn{
    border:solid white 2px;
    border-radius:20px;
    background-color: transparent;
    font-size: x-large;
    font-weight: 700;
}
.mask .btn:hover{
    background-color: white;
}

.formCreate{
    background-color: white;
    width: 90vw;
    height: auto;
    margin-top:8vh !important;
}

#checkImages {
    width: 100em;
    display: flex;
    justify-content: space-between; 
    padding: 2vw;
}
.point {
    margin-left: 2.75vw;
    margin-top: 1vw;
}
.check {
    width: 10%;
}

.formSection{
    display:flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

#deleteButton  {
    display: flex;
    justify-content: flex-end;
}
.deleteButton{    
    margin-top: 3vw;
    background-color: #024164;
    border-radius: 20px;
    border:none;
    color: white;
    height: 2.5vw;
    width: 9vw;
}

#submitButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submitButton{
    margin-top: 3vh;
    background-color: #024164;  
    border-radius: 20px;
    border:none;
    height: 5vw;
    width: 7vw;
    color: white;
    margin:1vw;
}


.newAdvPage{
    background-color:#96D5F8;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}
@media (min-width:500px)and (max-width:1100px) {
    .submitButton{
        width: 7vw;
        height: 4vw;
    }
    .deleteButton{
        width:9vw;
        height: 4vw;
    }
}