
.editUser{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.front{
    width:100%;
    height:30vh;
    background-image:url("https://tse4.mm.bing.net/th?id=OIP.11XI3row9ek0X_zZsxRRiwHaFI&pid=Api");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        
        
}
.mb-3{
        color: white;
        font-size:4vh;
        margin-bottom: 1vh;
        font-weight:700;
        font-family: 'Work Sans', sans-serif;
        

}

.mask .btn{
    border:solid white 2px;
    border-radius:20px;
    background-color: transparent;
    font-size: x-large;
    font-weight: 700;
}
.mask .btn:hover{
    background-color: white;
}




#checkImages {
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    padding: 2vw;
    align-items: center;
}
.point {
    margin-left: 2.5vw;
    margin-top: 1vh;
}
.check {
    width: 10%;
}

#formUpdateUser{
    background-color: white ;
    width:90vw ;
    height: 50vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 4vw;

}
#editSubmitButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submitButton{
    margin-top: 3vh;
    background-color: #024164;  
    border-radius: 20px;
    border:none;
    height: 5vw;
    width: 7vw;
    color: white;
    margin:1vw;
}

.deleteButton{
    margin-top: 3vw;
    background-color: #024164;
    border-radius: 20px;
    border:none;
    color: white;
    height: 2.5vw;
    width: 9vw;
}
.editPage{
    background-color:#fee073;
    height: 75vw;
    width: auto;
}
@media (min-width:500px)and (max-width:1400px) {
    .submitButton{
        width: 7vw;
        height: 4vw;
    }
    .deleteButton{
        width: 9vw;
        height: 4vw;
    }
   
    .editPage{
    height: 95vw;
    }   
    #formUpdateUser{
    height: 60vw;
    margin-top:2vw;
    }
}