@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&family=Work+Sans:ital,wght@0,400;1,400;1,700&display=swap');

.tableBox{
    margin: 4vh 2vw 4vh 2vw;
} 

thead{
    background-color: #feda24d5 ;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px; 
    color: #024164;
   
}
tbody{
    background-color: white ;
}


main{
    width: 100%;
}

.front{
    width: auto;
    height: 40vh;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.11XI3row9ek0X_zZsxRRiwHaFI&pid=Api") ;
    background-color:#024164;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn{
    width: 43vw;
    font-family: 'Oxygen', sans-serif;
}

body{
background-color: #96D5F8;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

/* @include media-breakpoint-up(sm) {
    (max-width:575.98px)  {
        .front {
            display: block;
        }
    }
} */ 